.wrapped-presentation {
  background: linear-gradient(348.16deg, #FB3594 0%, #3656C3 100%);
  height: 100vh;

  .card-body {
    padding: 30px 30px 50px;
  }

  .set-logo {
    padding: 4.5rem 0.5rem !important;
    text-align: center;
    img {
      height: 6rem;
    }
  }

  .set-mounstruo {
    img {
      height: 200px;
    }
  }
}

.custom-btn {
  background: #21C074;
  border: none;
  border-radius: 30.5px;
  font-size: 1.5rem;
  height: 60px;
}

.custom-btn:active {
  color: #fff;
  background-color: #21C074;
  border-color: #21C074;
}

.custom-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 192, 116, 0.5);
}

.set-loading {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}